### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [17]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

#Convert Price column to currency
purchase_data['Price']=purchase_data['Price'].map('\${0:,.2f}'.format)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",\$3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,\$1.56
2,2,Ithergue48,24,Male,92,Final Critic,\$4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,\$3.27
4,4,Iskosia90,23,Male,131,Fury,\$1.44

## Player Count

* Display the total number of players

In [2]:
player_count = len(purchase_data['SN'].value_counts())
player_count = {'Total Unique Players': [player_count]}
player_count
pd.DataFrame.from_dict(player_count)

   Total Unique Players
0                   576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
unique_customers = purchase_data.drop_duplicates(['SN'])

unique_items = len(purchase_data['Item ID'].value_counts())
unique_purchases = len(purchase_data['Purchase ID'].value_counts())
avg_price = purchase_data['Price'].mean()
total_revenue = purchase_data['Price'].sum()
purchasing_summary = {'Number of Unique Items': [unique_items], 'Average Price': [avg_price], 
                         'Number of Purchases':[unique_purchases], 'Total Revenue': [total_revenue]}
purchase_summary_df = pd.DataFrame.from_dict(purchasing_summary)
purchase_summary_df

   Average Price  Number of Purchases  Number of Unique Items  Total Revenue
0       3.050987                  780                     183        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#Separate Data Frames by gender
male_customers = purchase_data[purchase_data["Gender"]=='Male']
female_customers = purchase_data[purchase_data["Gender"]=='Female']
other_customers = purchase_data[purchase_data["Gender"] =='Other / Non-Disclosed']

#Separate unique value counts by gender
male_count = len(male_customers["SN"].value_counts())
female_count = len(female_customers["SN"].value_counts())
other_count = len(other_customers["SN"].value_counts())
total_count = (male_count + female_count + other_count)
male_percent = 100 * (male_count / total_count)
female_percent = 100 * (female_count / total_count)
other_percent = 100 * (other_count / total_count)

#Create indexed dataframe 
#Populate Dictionary
gender_data = {'Total Count':[male_count, female_count, other_count], 
               'Percentage of Players':[male_percent, female_percent, other_percent]} 
  
#Populate Indexed Dataframe
gender_df = pd.DataFrame(gender_data, index =['Male', 'Female', 'Other / Non-disclosed']) 
gender_df

                       Percentage of Players  Total Count
Male                               84.027778          484
Female                             14.062500           81
Other / Non-disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#Calculate Purchase Counts by gender
male_purchase_counts = len(male_customers['Purchase ID'])
female_purchase_counts = len(female_customers['Purchase ID'])
other_purchase_counts = len(other_customers['Purchase ID'])

#Calculate Average Purchase Price by gender
male_avg_sale = male_customers['Price'].mean()
female_avg_sale = female_customers['Price'].mean()
other_avg_sale = other_customers['Price'].mean()

#Calculate Total Purchase Value by gender
male_total_sale = male_customers['Price'].sum()
female_total_sale = female_customers['Price'].sum()
other_total_sale = other_customers['Price'].sum()

#Calculate Total Purchase Vlaue by unique person, gender
male_unique_purchases = male_customers.drop_duplicates(['SN'])
male_avg_unique_price = male_unique_purchases['Price'].mean()
female_unique_purchases = female_customers.drop_duplicates(['SN'])
female_avg_unique_price = female_unique_purchases['Price'].mean()
other_unique_purchases = other_customers.drop_duplicates(['SN'])
other_avg_unique_price = other_unique_purchases['Price'].mean()

#Create indexed dataframe 
#Populate Dictionary
gender_purchasing = {'Purchase Count':[male_purchase_counts, female_purchase_counts, other_purchase_counts], 
                     'Average Purchase Price':[male_avg_sale, female_avg_sale, other_avg_sale],
                     'Total Purchase Value':[male_total_sale, female_total_sale, other_total_sale],
                     'Average Purchase Total per Individual':[male_avg_unique_price, female_avg_unique_price, other_avg_unique_price]
                    }   
#Populate Indexed Dataframe
purchasing_analysis = pd.DataFrame(gender_purchasing, index =['Male', 'Female', 'Other / Non-disclosed']) 
purchasing_analysis

,Average Purchase Price,Average Purchase Total per Individual,Purchase Count,Total Purchase Value
Male,3.017853,3.046901,652,1967.64
Female,3.203009,3.165802,113,361.94
Other / Non-disclosed,3.346000,3.410909,15,50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
#Create Grade bins
age_bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
#Create Group Names
age_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Cut in age brackets into unique purchases by gender
unique_customers["Age Bracket"] = pd.cut(unique_customers['Age'],age_bins, labels=age_group_names)

#Age Bracket Calculations
age_bracket_count = unique_customers['Age Bracket'].value_counts()
age_bracket_percent = 100*(unique_customers['Age Bracket'].value_counts()/total_count)

#Create Dataframe referenced to dictionary, indices
age_bracket_dic = {'Total Count': age_bracket_count, 'Percentage of Players': age_bracket_percent}
age_bracket_df = pd.DataFrame(data = age_bracket_dic, index = age_group_names)
age_bracket_df

C:\Users\fireh\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       Percentage of Players  Total Count
<10                 2.951389           17
10-14               3.819444           22
15-19              18.576389          107
20-24              44.791667          258
25-29              13.368056           77
30-34               9.027778           52
35-39               5.381944           31
40+                 2.083333           12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#Cut in age brackets to purchase_data original dataframe
purchase_data["Age Bracket"] = pd.cut(purchase_data['Age'],age_bins, labels=age_group_names)
purchase_data_trimmed = purchase_data.drop(['Purchase ID', 'Age', 'Gender', 'Item ID', 'Item Name'], axis = 1)

#Calculate Purchase Count, Sum and Mean for all purchases by age bracket.rename(columns={"Price": "Purchase Count"})
age_bracket_total_count = purchase_data_trimmed.groupby('Age Bracket').count().rename(columns={"Price": "Purchase Count"})
age_bracket_sum = purchase_data_trimmed.groupby('Age Bracket').sum().rename(columns={"Price": "Total Purchase Value"})
age_bracket_avg = purchase_data_trimmed.groupby('Age Bracket').mean().rename(columns={"Price": "Average Purchase Price"})

#Unique user spend
purchase_data["Age Bracket"] = pd.cut(purchase_data['Age'],age_bins, labels=age_group_names)
#Double groupby
unique1 = purchase_data.groupby(['SN', 'Age Bracket']).sum()
#Drop lots of NaN
unique2 = unique1.dropna()
#Count unique customers per age bracket
unique3 = unique2.groupby('Age Bracket').count()
#Sum of Spend per age bracket
unique4 = unique2.groupby('Age Bracket').sum()
unique5 = unique4 / unique3

#Perform 3 merges to get final dataframe. Drop the "SN" column
merge1 = pd.merge(age_bracket_total_count, age_bracket_avg, right_index=True, left_index=True, how='inner')
merge2 = pd.merge(merge1, age_bracket_sum, right_index=True, left_index=True, how='inner')
merge3 = pd.merge(merge2, age_bracket_avg, right_index=True, left_index=True, how='inner')
merge4 = pd.merge(merge3, unique5, right_index=True, left_index=True, how='inner')

#Remove and cleanup extraneous columns
merge5 = merge4.drop(['SN','Purchase ID','Item ID','Age', 'Average Purchase Price_y'], 1)
merge6 = merge5.rename(columns={'Price': 'Average Total Purchase Price per Person', 'Average Purchase Price_x':'Average Purchase Price'})
merge6

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Price per Person
Age Bracket,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Start with purchase_data_trimmed from prior cell, remove age brackets, groupby SN
#Calculate total spend per user, rename key column to 'Total Purchase Value'
spender_baseline = purchase_data_trimmed.groupby('SN').sum()
spender_total = spender_baseline.rename(columns={'Price': 'Total Purchase Value'})


#Calculate purchase count, rename key column to 'Purchase Count'
spender_count = purchase_data_trimmed.groupby('SN').count()
del spender_count['Age Bracket']
spender_counts = spender_count.rename(columns={'Price': 'Purchase Count'})

#Calculate average spend per user, rename key column to 'Average Purchase Price'
spender_avg = spender_baseline / spender_count
spender_average = spender_avg.rename(columns={'Price': 'Average Purchase Price'})

#Merge
merge_spend1 = pd.merge(spender_counts, spender_average, right_index=True, left_index=True, how='inner')
merge_spend2 = pd.merge(merge_spend1, spender_total, right_index=True, left_index=True, how='inner')
merge_spend2.head(3)

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [13]:
#Start with purchase_data, group by Item ID, Item Name
popular_sum = purchase_data.groupby(['Item ID', "Item Name"]).sum()

                                 
#Count unique purchases
popular_count = purchase_data.groupby(['Item ID', 'Item Name']).count()

#get average price, divide sum by count, drop extraneous columns
popular_average1 = popular_sum / popular_count
popular_average = popular_average1.drop(['Age','Age Bracket','Gender','Purchase ID', 'SN'], 1)

#Merge DataFrames, drop extraneous columns
popular_items1 = pd.merge(popular_count, popular_average, right_index=True, left_index=True, how='inner')
popular_items2 = pd.merge(popular_items1, popular_sum, right_index=True, left_index=True, how='outer')
popular_items3 = popular_items2.drop(['SN','Age_x','Gender','Price_x','Age Bracket','Age_y', 'Purchase ID_y'], 1)
popular_items = popular_items3.rename(columns={'Purchase ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price':'Total Purchase Value'})
popular_items.head()

                            Purchase Count  Item Price  Total Purchase Value
Item ID Item Name
0       Splinter                         4        1.28                  5.12
1       Crucifer                         3        3.26                  9.78
2       Verdict                          6        2.48                 14.88
3       Phantomlight                     6        2.49                 14.94
4       Bloodlord's Fetish               5        1.70                  8.50

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [14]:
#Sort previous table 
profitable_items = popular_items.sort_values(by='Total Purchase Value', ascending=0)
profitable_items.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80